---
title: "Seminário em Arquitetura e Urbanismo"
layout: single
author_profile: true
classes: wide
header:
  overlay_image: "/assets/media/1920px-The_School_of_Athens _by_Raffaello_Sanzio_da_Urbino.jpg"
  overlay_filter: 0.5
  caption: "Rafael Sanzio, Escola de Atenas, 1509–11"
excerpt: >
  Disciplina desenvolvida sob a forma de seminários objetivando a socialização
  dos conhecimentos produzidos pelos grupos de pesquisa integrados pelos
  docentes do Programa.

sidebar:
  - text: |
      <div itemscope="" itemtype="https://schema.org/Person">
        <div class="author__avatar">
          <img src="assets/media/csgarcia.jpg" alt="Foto de Cláudia Garcia" itemprop="image" />
        </div>
        <div class="author__content">
          <h3 class="author__name" itemprop="name">Cláudia da Conceição Garcia</h3>
          <div class="author__bio" itemprop="description">
            <p>Professora Associada</p>
          </div>
        </div>
        <div class="author__urls-wrapper">
          <button class="btn btn--inverse">Acompanhe no</button>
          <ul class="author__urls social-icons">
            <li itemprop="homeLocation" itemscope="" itemtype="https://schema.org/Place">
              <i class="fas fa-fw fa-map-marker-alt" aria-hidden="true"></i> <span itemprop="name">FAU–UnB</span>
            </li>
            <li>
              <a href="mailto:csgarcia@unb.br">
                <meta itemprop="email" content="csgarcia@unb.br">
                <i class="fas fa-fw fa-envelope-square" aria-hidden="true"></i><span class="label">E-mail</span>
              </a>
            </li>
            <!--
            <li>
              <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs" rel="nofollow noopener noreferrer">
                <i class="fas fa-fw" aria-hidden="true"></i> Custom Social Profile Link
              </a>
            </li>
            -->
          </ul>
        </div>
      </div>

row1:
  - image_path: "/assets/media/Raphael_School_of_Athens-mercurius.jpg"
    title     : "Apresentação"
    excerpt   : "Semana de boas vindas e do currículo de graduação"
    url       : "/aula/apresenta/"
    btn_label : "19 e 26 de março"
    btn_class : "btn btn--inverse"
  - image_path: "/assets/media/Raphael_School_of_Athens-zoroaster.jpg"
    title     : "Pesquisa"
    excerpt   : "Descrição do objeto da pesquisa"
    url       : "/aula/pesquisa/"
    btn_label : "2 e 9 de abril"
    btn_class : "btn btn--inverse"
  - image_path: "/assets/media/Raphael_School_of_Athens-epicurus.jpg"
    title     : "História"
    excerpt   : "Justificativa e revisão da literatura"
    url       : "/aula/historia/"
    btn_label : "16 e 23 de abril"
    btn_class : "btn btn--inverse"
row2:
  - image_path: "/assets/media/Raphael_School_of_Athens-averroes.jpg"
    title     : "Teoria"
    excerpt   : "Fundamentação teórica"
    url       : "/aula/teoria/"
    btn_label : "30 de abril e 7 de maio"
    btn_class : "btn btn--inverse"
  - image_path: "/assets/media/Raphael_School_of_Athens-plotinus.jpg"
    title     : "Crítica"
    excerpt   : "Problemática, pergunta de pesquisa, ou  hipótese"
    url       : "/aula/critica/"
    btn_label : "14 e 21 de maio"
    btn_class : "btn btn--inverse"
  - image_path: "/assets/media/Raphael_School_of_Athens-platon.jpg"
    title     : "Estética"
    excerpt   : "Objetivos geral e específicos"
    url       : "/aula/estetica/"
    btn_label : "28 de maio e 4 de junho"
    btn_class : "btn btn--inverse"
row3:
  - image_path: "/assets/media/Raphael_School_of_Athens-euclides.jpg"
    title     : "Patrimônio cultural"
    excerpt   : "Metodologia ou caminho"
    url       : "/aula/patrimonio/"
    btn_label : "11 e 18 de junho"
    btn_class : "btn btn--inverse"
  - image_path: "/assets/media/Raphael_School_of_Athens-heraclitus.jpg"
    title     : "Síntese"
    excerpt   : "Resumo"
    url       : "/aula/sintese/"
    btn_label : "25 de junho e 2 de julho"
    btn_class : "btn btn--inverse"
  - image_path: "/assets/media/Raphael_School_of_Athens-socrates.jpg"
    title     : "XIV Colóquio em Arquitetura e Urbanismo"
    excerpt   : "Apresentação e revisão por pares"
    url       : "/aula/coloquio/"
    btn_label : "9 de julho"
    btn_class : "btn btn--inverse"
---

{% include feature_row id="row1" %}

{% include feature_row id="row2" %}

{% include feature_row id="row3" %}

